{% extends "layout.html" %}
{% block content %}
{% include '_messages.html' %}
{% include 'navbar.html' %}

<div class="container">

    {% if product_for_brand %}
    <div class="row">
        {% for product in product_for_brand.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+product.image_1)}}" alt="{{product.name}}"
                    class="car-img-top" height="200">
                <div class="card-body" style="margin-bottom:-30px;">
                    {% if product.discount > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px #000;color:#f00; position: absolute; top: 58%;left: 15%;">
                        Discount: {{product.discount}} % off
                    </h5>
                    {% endif %}
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price {{product.price}} CAD</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('product_detail_page', id=product.id)}}"
                        class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('add_to_cart')}}" method="post">
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <button type="submit" class="btn btn-sm btn-warning float-right">Add cart</button>

                        <input type="hidden" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}

                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors%}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if product_for_brand.has_prev %}
            <a href="{{url_for('products_by_brand', id=brand_id, page=product_for_brand.prev_num)}}"
                class="btn btn-outline-info btn-sm mt-3">Previous</a>
            {% endif %}
            {% for page_num in product_for_brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2)
            %}
            {% if page_num %}
            {% if product_for_brand.page == page_num %}
            <a href="{{url_for('products_by_brand', id=brand_id, page=page_num)}}"
                class="btn btn-info btn-sm mt-3">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('products_by_brand', id=brand_id, page=page_num)}}"
                class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if product_for_brand.has_next %}
            <a href="{{url_for('products_by_brand', id=brand_id, page=product_for_brand.next_num)}}"
                class="btn btn-outline-info btn-sm mt-3">Next</a>
        </div>
    </div>
    {% endif %}
    {% elif product_for_category %}
    <div class="row">

        {% for product in product_for_category.items %}

        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+product.image_1)}}" alt="{{product.name}}"
                    class="car-img-top" height="200">
                <div class="card-body" style="margin-bottom:-30px;">
                    {% if product.discount > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px #000;color:#f00; position: absolute; top: 58%;left: 15%;">
                        Discount: {{product.discount}} % off
                    </h5>
                    {% endif %}
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price {{product.price}} CAD</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('product_detail_page', id=product.id)}}"
                        class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('add_to_cart')}}" method="post">
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <button type="submit" class="btn btn-sm btn-warning float-right">Add cart</button>

                        <input type="hidden" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}

                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors%}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if product_for_category.has_prev %}
            <a href="{{url_for('products_by_category', id=category_id, page=product_for_category.prev_num)}}"
                class="btn btn-outline-info btn-sm mt-3">Previous</a>
            {% endif %}
            {% for page_num in product_for_category.iter_pages(left_edge=1, right_edge=2, left_current=1,
            right_current=2) %}
            {% if page_num %}
            {% if product_for_category.page == page_num %}
            <a href="{{url_for('products_by_category', id=category_id, page=page_num)}}"
                class="btn btn-info btn-sm mt-3">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('products_by_category', id=category_id, page=page_num)}}"
                class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if product_for_category.has_next %}
            <a href="{{url_for('products_by_category', id=category_id, page=product_for_category.next_num)}}"
                class="btn btn-outline-info btn-sm mt-3">Next</a>
            {% endif %}
        </div>
    </div>


    {% else %}
    <div class="row">
        {% for product in products.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+product.image_1)}}" alt="{{product.name}}"
                    class="car-img-top" height="200">
                <div class="card-body" style="margin-bottom:-30px;">
                    {% if product.discount > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px #000;color:#f00; position: absolute; top: 58%;left: 15%;">
                        Discount: {{product.discount}} % off
                    </h5>
                    {% endif %}
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price {{product.price}} CAD</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('product_detail_page', id=product.id)}}"
                        class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('add_to_cart')}}" method="post">
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <button type="submit" class="btn btn-sm btn-warning float-right">Add cart</button>

                        <input type="hidden" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}

                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors%}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if products.has_prev %}
            <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
            {% endif %}
            {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if products.page == page_num %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}