{% extends "layout.html" %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            Invoice: {{order.invoice}}
            <br>
            Status: {{order.status}}
            <br>
            Customer name: {{customer.name}}
            <br>
            Customer email: {{customer.email}}
            <br>
            Customer contact: {{customer.contact}}
            <br>
            <br>
            <table class="table table-sm">
                <thead>
                    <th>Sr</th>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Subtotal</th>
                </thead>
                <tbody>
                    {% for key, product in order.purchased_items.items() %}
                    {% set discount = "%0.2f" | format((product.discount/100) * product.price|float *
                    product.quantity|int) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{product.name}}</td>
                        <form action="{{url_for('update_cart', code=key)}}" method="post">
                            <td>{{product.color|capitalize}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                {{product.quantity}}
                            </td>
                            {% if product.discount > 0 %}
                            <td>{{product.discount}} % is {{discount}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% set subtotal = product.quantity|int * product.price|float %}
                            <td>{{"%0.2f"|format((subtotal|float)-discount|float)}}</td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            {% if order.status == 'Pending' %}

                            <form action="{{url_for('payment')}}" method="POST">
                                {% set amount = grandTotal.replace('.','') %}
                                <input type="hidden" name="amount" value="{{amount}}">
                                <input type="hidden" name="invoice" value="{{order.invoice}}">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_51I0C4HIkH6gk0430apoX6NH50LHEQZ5F1djym6q6z3Tkz8BsdolyHepme6ZWQSCNnCzz7EBLFeyWkYtcf1svh7s3005HvTSZsM"
                                    data-name="Shichen's Shop" data-description="your order" data-amount="{{amount}}"
                                    data-currency="cad">
                                    </script>
                            </form>
                            {% endif %}
                        </td>
                        <td width="35%"></td>
                        <td colspan="3">
                            <h5>Tax: ${{tax}}</h5>
                        </td>
                        <td colspan="3">
                            <h5>Grand Total: ${{grandTotal}}</h5>
                        </td>
                        <td>
                            {% if order.status == 'Paid' %}
                            <form action="{{url_for('generate_invoice_pdf', invoice=order.invoice)}}" method="POST">
                                <button type="submit" class="mr-4 btn btn-sm btn-info float-right">
                                    Download receipt
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}